<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All clients</title>
</head>
<body>

<div th:each="client : ${clients}">
  <a th:href="@{/clients/{id}(id=${client.getId})}" th:text="${client.getSurname + ' ' +
                client.getName() + ' ' + client.getPatronymic()}">user</a>
</div>

<br/>
<hr/>

<a href="/clients/new">Create new client</a>

</body>
</html>