<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>

<p th:text="${'Surname: ' + client.getSurname()}">value</p>
<p th:text="${'Name: ' + client.getName()}">value</p>
<p th:text="${'Patronymic: ' + client.getPatronymic()}">value</p>
<p th:text="${'Passport number: ' + client.getPassportNumber()}">value</p>
<p th:text="${'Family status: ' + client.getFamilyStatus()}">value</p>
<p th:text="${'Address: ' + client.getAddress()}">value</p>
<p th:text="${'Phone number: ' + client.getPhoneNumber()}">value</p>
<p th:text="${'Months in current job: ' + client.getMonthsInCurrentJob()}">value</p>
<p th:text="${'Job position: ' + client.getJobPosition()}">value</p>
<p th:text="${'Organization name: ' + client.getOrganizationName()}">value</p>

<a th:href="@{/clients/{id}/edit(id=${client.getId})}">Edit</a>

<br/>
<a href="/clients">Back to all clients</a>

<form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId})}">
    <input type="submit" value="Delete!">
</form>

</body>
</html>